@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

body{
    background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)) , url(./bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-family: 'Open Sans', sans-serif;
    
}

/* Navbar */
.bg-dark{
    background: rgba(52, 58, 64, 0.9)!important;
}

.navbar{
    padding: 5px 1rem;
}

.navbar-brand{
    font-size: 1.2rem;
}

#searchTxt{
    background: white;
    height: 2rem;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

#searchTxt:active, #searchTxt:hover{
    border: none !important;
    outline: none !important;
}

/* Alert Box */
.alert-success{
    background: rgba(161, 161, 235, 0.9);
    border: none;
    outline: none;
    border-radius: 4px;
    color: white;
}

.alert-danger{
    background: rgba(161, 161, 235, 0.9);
    border: none;
    outline: none;
    border-radius: 4px;
    color: white;
}

/* Form Design */
.mainForm{
    background: rgba(161, 161, 235, 0.9);
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 1rem 2rem 1px;
}

.col-form-label{
    font-size: 1.2rem;
    font-weight: 500;
}

.form-check-label{
    font-size: 1rem;
    font-weight: 500;
}

.form-group .col-sm-10 .form-control{
    color: black;
    height: 2rem;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.form-group .col-sm-10 .form-control:active , .form-group .col-sm-10 .form-control:hover{
    border: none !important;
    outline: none !important;
}

/* Table design */
.dataContainer{
    background: rgba(161, 161, 235, 0.9);
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 15px 30px 10px;
    margin-top: 1rem !important;
    margin-bottom: 0px !important;
}

.table{
    color: black;
}

.table thead tr th{
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 5px;
    border: 0 !important;
}

.table tbody{
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
    display: block;
    height: 200px;
    overflow-y: auto;
}

.table tbody td,
.table thead>tr>th {
    float: left;
    padding-left: 10px;
    width: 33%;
}

.table .col {
    width: 33%;
}

.table tr {
    display: block;
}

/* Btton style */
.btn{
    height: 2rem;
    padding: 4px 10px;
    box-shadow: none !important;
}

.btn:active{
    border: none !important;
}

.btn-primary{
    color: rgb(161, 161, 235) !important;
    background: white !important;
    border: 1px solid white !important;
}

.btn-primary:hover , .btn-primary:active{
    background: rgba(161, 161, 235, 0.8) !important;
    color: white !important;
    border-color: white !important;
}

.btn-outline-primary{
    color: white !important;
    background: rgb(161, 161, 235) !important;
    border: 1px solid rgb(161, 161, 235) !important;
}

.btn-outline-primary:hover , .btn-outline-primary:active{
    background: white !important;
    color: rgb(161, 161, 235) !important;
    border-color: rgb(161, 161, 235) !important;
}

/* Utility */

hr{
    margin-top: 0px;
    margin-bottom: 1rem;
}



